.menu{
	margin-top: 50px;
	height: auto;
	margin-bottom: 150px;
	margin-top: 120px;
}

.imageContainer{
	position: relative;
	height: 450px;
}

.textContainer, .lunchText{
	height: auto;
	position: relative;
	margin-top: 80px;
	font-weight: bold;	
}

.menuHeader, .topicMenu, .contactHeader, .topicContact{
	text-align: right;
}

.topic, .topicMenu, .topicService, .topicContact{
	font-size: responsive;
	color: rgb(184, 39, 33);
	margin-top: -30px;	
	letter-spacing: 0.4px;
}

.text{
	font-size: responsive;
	line-height: 0.8cm;
	color: rgb(128, 128, 128);
	text-align: left;
}

.dessert, .contacts{
	font-size: 20px;
	line-height: 30px;
	color: rgb(128, 128, 128);
	text-align: right;
	height: auto;
}

.romanticHeader{
	margin-left: 10%;
	margin-right: 10%;
	font-size: 35px;
	letter-spacing: 2px;
	text-align: center;
	color: rgb(59, 55, 55);
}

.terras{
	height: auto;
	width: 100%;
}

.author{
	letter-spacing: 2px;
	text-align: center;
	color: rgb(59, 55, 55);
	font-weight: bolder;
	padding-bottom: 30%;
}

.imageDot, .imageDotMenu{
	height: 13px;
	opacity: 0.8;
}

.blogContainer{
	padding-top:50px;
	text-align:center;
}
.blogTopicContainer{
	position:relative;
	height:auto;
	margin-bottom: 20%;
}

.park, .woods, .food{
	max-height:100%;
	width:100%;
}

.blogTopicText{
	padding: 20%;
	padding-top: 70px;
	font-size: responsive;
}

.blogTopicBackground{
	position:absolute;
	background-color:white;
	margin:auto;
	height:90%;
	width:90%;
	bottom:0;
	top:0;
	right:0;
	left:0;
}
.blogTopicName, .blogTopicDate{
	padding-bottom:35px;
}

.blogTopicDate{
	color:rgb(202, 202, 202);
}
.readMore{
	font-size:43px;
	cursor:pointer;
	margin-top:-10px;
}

.readMore:hover{
	color:rgb(126, 70, 70);
}

.aboutOne, .aboutTwo, .aboutThree, .aboutFour{
	position:absolute;
	max-width:80%;
	right:0;
}

.aboutThree{
	right:0;
	bottom:20%;
}

.aboutFour{
	left:0;
}

.aboutTwo{
	left:0;
	bottom:20%;
}

.order{
	height:auto;
	width:100%;
}

.orderContainer{
	position:relative;
	height:auto;
}

.orderButtonContainer{
	position:relative;
	text-align:center;
	margin-top:-50%;
	margin-bottom:50%;
}

.orderButton{
	color:white;
	border:2px solid rgb(17, 17, 17);
	background-color:rgb(17, 17, 17);
	padding:20px 50px;
	font-size:15px;
}

.orderButton:hover { 
	border:2px solid rgb(126, 70, 70);
	background-color:rgb(126, 70, 70);
}

.serviceHeader{
	margin-left:15%;
	margin-right:15%;
	text-align:center;
}

.serviceContainer{
	height:100%;
}

.topicService{
	text-align: center;
	padding-bottom: 40px;
}

.serviceAdvantages, .serviceAdvatagesBorders{
	font-size: 30px;
	text-align: center;
	padding: 60px 0;
	background-color: rgb(245, 245, 245)
	
}

.serviceAdvatagesBorders{
	border-bottom: solid black 1px;
}

.reservationHeader{
	padding-top: 20px;
	text-align: center;
}

.contactContainer{
	height: auto;
	padding-bottom: 100px;
}

.contactText{
	padding-bottom: 100px;
}