
.footer{
	text-align:center;
	height:auto;
	padding-top:20px;
	background-color:rgb(245, 245, 245);
}

.footerTopic{
	font-size:20px;
	font-weight:bold;
}

.footerLogos{
	display:inline;
}

.imageBorder{
	border:solid 1px black;
	border-radius:50%;
	padding:10px;
	cursor:pointer;
}

.footerLogo{
	padding-top:40px;
}

.footerCopyright{
	font-size:responsive;
	font-weight:bold;
	padding-bottom: 20px;
}
