li {
    display:inline;
}

.right{
	float:right;
}

.image{
	height:25px;
	margin-top:10px;
	margin-left:5px;
}

.imageLineBorder{
	border-left:2px solid rgb(92, 92, 92);
	padding-left:5px;
}

.imageLogo, .footerLogo{
	height:40px;
}

nav{
	padding-top:30px;
	margin-bottom:30px;
	margin-left:-30px;
	margin-right:20px;
	z-index:200;
}

.dropButton {
	cursor:pointer;
}

.searchContainer{
	width:100%;
	position:relative;
	cursor:pointer;
}

.imgSearch {
	position:absolute;
	right:0;
	height:20px;
}

.search{
	width:80%;
	font-size:16px;
	padding:42px 16px;
	border:none;
	background-color:transparent;
	font-size:20px;
}

.dropdown{
	position:relative;
	font-size:20px;
	font-family:Liberation Sans, sans-serif;
	z-index:300;
}

.cartDropdownContent{
	visibility:hidden;
	opacity:0;
	background-color:#f9f9f9;
	position:absolute;
	width:150px;
	right:15%;
	transform:translateY(-2em);
	transition:all 0.3s ease-in-out 0s, 
	visibility 0s linear 0.3s, 
	z-index 0s linear 0.01s;
}

.dropdownContent {
	visibility:hidden;
	background-color:#f9f9f9;
	position:absolute;
	width:100%;
	opacity:0;
	z-index:150;
	transform:translateY(-2em);
	transition:all 0.3s ease-in-out 0s, 
	visibility 0s linear 0.3s, 
	z-index 0s linear 0.01s;
}

.feature{
	display:inline-block;
	text-decoration:none;
	color:black;
}

.cartDrop{
	color:black;
	padding:22px 16px;
	text-decoration:none;
	display:block;
	position:relative;
	font-weight:bold;	
	text-align:right;
}

.drop {
	color:black;
	padding:42px 16px;
	text-decoration:none;
	display:block;
	border-top:solid rgb(194, 194, 194) 1px;
	position:relative;
	font-weight:bold;	
}

.arrowMore{
	text-decoration:none;
	border:1px solid grey;
	color:black;
	padding:11px 19px;
	position:absolute;
	right:10px;
	font-size:20px;
	margin-top:-14px;
}

.arrowMore:hover{
	background-color:#150e30;
	color:white;
}

.drop:hover, .feature:hover, .cartDrop:hover {
	background-color:#f1f1f1;
	color:rgb(170, 40, 40);
}

.show {
	visibility:visible;
	opacity:1;
	transform:translateY(0%);
	transition-delay:0s, 0s, 0.3s;
	z-index:200;
}