.photoSlider{
	position: relative;
	overflow: hidden;
	height: 600px;
	width: 100%;
} 

.sliderLine{
    position: relative;
    width: 2000px;
	height: 100%;
	transition: transform 0.9s ease-out;	
}

.slideOne{
	transform: translateX(-50px);
}

.slideTwo{
	transform: translateX(-550px);
}

.slideThree{
	transform: translateX(-1100px);
}

.slideUnion{
	position: relative;
	display: inline-block;
	height: 100%;
}

.control{
	cursor: pointer;
	border: solid 2px white;
	background-color: rgba(255, 255, 255, 0.171);
	padding: 18px 26px;
	position: absolute;
	bottom: 100px;
	margin-top: -24px;
	z-index: 250;
}

.control :hover{ 
	opacity: 0.5; 
}

.arrow{
	height: 30px;
}

.next{ 

	right: 150px; 
}
.previous{

	left: 50px; 
}

