.aboutContainer{
	position:relative;
	margin-bottom:100px;
	margin-top:50px;
}

.imageContainer{
	position: relative;
	height: 450px;
}

.textContainer{
	height: auto;
	position: relative;
	margin-top: 80px;
	font-weight: bold;	
}

.topic{
	font-size: responsive;
	color: rgb(184, 39, 33);
	margin-top: -30px;	
	letter-spacing: 0.4px;
}

.imageDot{
	height: 13px;
	opacity: 0.8;
}

.aboutOne, .aboutTwo{
	position:absolute;
	max-height:80%;
	right:0;
}

.aboutTwo{
	left:0;
}

.text{
	font-size: responsive;
	line-height: 0.8cm;
	color: rgb(128, 128, 128);
	text-align: left;
}