.lunchContainer{
	padding-top: 80px;
	position: relative;
	background-color: rgb(245, 245, 245)
}

.lunchHeader{
	text-align: center;
}

.lunchTopic{
	font-size: 12px;
	color: rgb(184, 39, 33);
	text-align: center;
	margin-top: -10px;
}

.slideshowContainerLunch{
	position:relative;
	max-width:500px;
}

.price{
	position:absolute;
	bottom:55%;
	left:70%;
	font-size:30px;
	padding: 10px 18px;
	border: solid 2px rgb(230, 230, 230);
	background-color:rgb(230, 230, 230);
}

.dots{
	position:absolute;
	bottom:30%;
	text-align:center;
	width:100%;
	display:inline-block;
	z-index: 200;
}

.dotStyle{
	cursor:pointer;
	border-radius: 50%;
	width:30px;
	height:30px;
	display:inline-block;
	border:solid 2px white;
	margin: 10px;
	transition:background-color 0.6s ease; 
	background-color:rgba(0, 0, 0, 0)
}

.dotActive{
	background: white;
}
.dotActive, .dotStyle:hover{
	background-color:white;
}

.baget{
	margin-top:50px;
	height:auto;
	width:100%; 
}

.description{
	text-align:center;
	font-size:25px;  
}

.photoSliderLunch{
	height:350px;
}

.sliderLine{
    position: relative;
    width: 2000px;
	height: 100%;
	transition: transform 0.9s ease-out;	
}

.slideLunchOne{
	
	transform: translateX(0);
}
.slideLunchTwo{
	transform: translateX(-425px);
}
.slideLunchThree{
	transform: translateX(-850px);
}

.textContainer{
	height: auto;
	position: relative;
	margin-top: 80px;
	font-weight: bold;	
}

.day{
	display: block;
    margin: auto;
	width: 40%;
	opacity: 0.3;
	padding-bottom: 100px;
}