html{
	background-color: rgb(187, 187, 187);
}

body{
	max-width: 425px;
	margin: auto;
	padding-right: 6px;
	padding-left: 6px;
	font-family: 'ARLRDBD';
	background-color: white;
}

a{
	text-decoration: none;
}

@font-face{
	font-family: 'ARLRDBD';
	src: url("./ARLRDBD.ttf");
}

h1{
	font-size: 40px;
	letter-spacing: 8px;
	margin-bottom: 15%;
}

